@import "constant";

.menu {
  display: flex;
  flex-direction: column;
  width: 150px;

  background-color: @menu-backcolor;

  .tab {
    cursor: pointer;
    line-height: 50px;

    text-align: center;

    &:hover {
      color: blue;
    }
  }
}